:root{
    --btnBackgroundColor: #0069b4;
    --btnColor: #ffffff;
    --btnHoverColor:  #70b6e7;
    --mainFont: "Open Sans", Helvetica, Arial, sans-serif;
    --textColor: #4d4d4d;
    --backgroundColor: #ffffff;
    --bodercolor: #dddddd;
  }

 body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    min-width: 600px;
    max-width: 1400px;
    font-family: var(--mainFont);
    background-color: var(--backgroundColor);
}

h1{
    text-align: center;
    color: var(--textColor);
    font-size: 2em;
    padding: 10px 0 10px 0;
}

select{
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.item{
    width: 100%;
    background: var(--backgroundColor);
    color: var(--textColor);
}

.item.selected{
    background-color: var(--btnHoverColor);
    animation: selectAnim 0.1s linear;
}

@keyframes selectAnim {
    from {background-color: var(--backgroundColor);}
    to {background-color: var(--btnHoverColor);}
}

.container{
    overflow: auto;
    padding: 15px;
    width: 47%;
    height: 400px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;  
    background-color: var(--backgroundColor);
    color: var(--textColor);
}