:root{
    --btnBackgroundColor: #0069b4;
    --btnColor: #ffffff;
    --btnHoverColor:  #70b6e7;
    --mainFont: "Open Sans", Helvetica, Arial, sans-serif;
    --textColor: #4d4d4d;
    --backgroundColor: #ffffff;
    --bodercolor: #dddddd;
  }

 body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    min-width: 600px;
    max-width: 1400px;
    font-family: var(--mainFont);
    background-color: var(--backgroundColor);
}

h1{
    text-align: center;
    color: var(--textColor);
    font-size: 2em;
    padding: 10px 0 10px 0;
}

label{
    float: left;
    padding: 15px 15px 15px 0px;
}

select{
    margin-top: 5px;
    width: 85%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.item{
    width: 100%;
    background: var(--backgroundColor);
    color: var(--textColor);
    animation: selectAnimReverse 0.1s linear;
}

.item.selected{
    background-color: var(--btnHoverColor);
    animation: selectAnim 0.1s linear;
}

@keyframes selectAnimReverse {
    from {background-color: var(--btnHoverColor);}
    to {background-color: var(--backgroundColor);}
}


@keyframes selectAnim {
    from {background-color: var(--backgroundColor);}
    to {background-color: var(--btnHoverColor);}
}

.container{
    overflow: auto;
    padding: 15px;
    width: 100%;
    height: 400px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;  
    
}

div{
    background-color: var(--backgroundColor);
    color: var(--textColor);
}


button {
    margin: 10px;
    padding: 15px;
    background-color: var(--btnBackgroundColor);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: var(--btnColor);
}

button:disabled{
    cursor: not-allowed;
    pointer-events:none; /*This makes it not clickable*/
    opacity:0.6;         /*This grays it out to look disabled*/
}

button:hover {
    background-color: var(--btnHoverColor);
}

.menu {
    width: 170px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
}
  
.menu .menu-options {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu .menu-options .menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.disabled {
    pointer-events:none; /*This makes it not clickable*/
    opacity:0.6;         /*This grays it out to look disabled*/
}

.menu .menu-options .menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}


