:root{
  --btnBackgroundColor: #0069b4;
  --btnColor: #ffffff;
  --btnHoverColor:  #70b6e7;
  --mainFont: "Open Sans", Helvetica, Arial, sans-serif;
  --textColor: #4d4d4d;
  --backgroundColor: #ffffff;
  --bodercolor: #dddddd;
  --settingIconColor: #141414;
  --linkColor: #0000ee;
}

a{
  color: var(--linkColor);
}

body {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    min-width: 230px;
    max-width: 650px;
    font-family: var(--mainFont);
    background-color: var(--backgroundColor);
}

.settingsIcon{
  position: absolute; 
  top: 20px; 
  left: 30px;
  color: var(--settingIconColor);
}

button{
    background-color: var(--btnBackgroundColor);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: var(--btnColor);
}

button:hover {
    background-color: var(--btnHoverColor);
}

.rotate{
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate.down{
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);     
}

.form{
    width: 70%;
    max-width: 300px;
    min-width: 155px;
    margin: 0 auto;
    font-family: var(--mainFont);
}

 h1{
    text-align: center;
    color: var(--textColor);
    font-size: 2em;
    padding: 10px 0 10px 0;
}

.form input[type="password"],
.form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
.form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: var(--btnBackgroundColor);
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: var(--btnColor);
}
.form input[type="submit"]:hover {
  background-color: var(--btnHoverColor);
}

.loader {
    border: 16px solid #3b3b3b;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    z-index: 2;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  /* Safari */
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.right {
    float: right;
  }

  @media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .right {
      float: left;
      width: 100%;
    }
  }